.App {
  text-align: center;
}

.Nav-link {
  padding: 2rem;
  text-decoration: none;

}

.Nav-link:hover {
  text-decoration: none;
  background-color: lightgrey;
}

.nav-item {
  margin-top: 1rem;
}